In [20]:
import pandas as pd

# Load the DataSet
df = pd.read_csv("C:/Users/Abdullah Umer/Desktop/Data Sentinel Internship/Task1/customers.csv")

# Print Column Names
print("Column Names:")
print(df.columns.tolist())
print("\n")

# Print Number of Rows
print("Number of Rows:", len(df))
print("\n")

# Print Summary Statistics
print("Summary Statistics:")
print(df.describe(include="all"))

Column Names:
['Customer ID', 'Name', 'Address 1', 'Address 2', 'Address 3', 'Zip Code', 'Discount']


Number of Rows: 10


Summary Statistics:
       Customer ID        Name       Address 1               Address 2  \
count           10          10              10                       6
unique          10          10              10                       4
top             C1  A C Brakes  14 Hilly Ridge  Tawara Industrial Park
freq             1           1               1                       3
mean           NaN         NaN             NaN                     NaN
std            NaN         NaN             NaN                     NaN
min            NaN         NaN             NaN                     NaN
25%            NaN         NaN             NaN                     NaN
50%            NaN         NaN             NaN                     NaN
75%            NaN         NaN             NaN                     NaN
max            NaN         NaN             NaN                     NaN

       Address 3     Zip Code   Discount
count         10    10.000000  10.000000
unique         6          NaN        NaN
top       Tawara          NaN        NaN
freq           3          NaN        NaN
mean         NaN  4308.600000   5.000000
std          NaN     1.505545   4.714045
min          NaN  4306.000000   0.000000
25%          NaN  4309.000000   0.000000
50%          NaN  4309.000000   5.000000
75%          NaN  4309.000000  10.000000
max          NaN  4311.000000  10.000000