In [21]:
import numpy as np
import pandas as pd

# Load the DataSet
df = pd.read_csv("C:/Users/Abdullah Umer/Desktop/Data Sentinel Internship/Task2/Titanic.csv")

# Handle missing values safely
df['Age'] = df['Age'].fillna(df['Age'].median())   
df['Fare'] = df['Fare'].fillna(df['Fare'].median()) 
df = df.drop(columns=['Cabin'])                     

# Convert categorical columns into numeric using One-Hot Encoding
df = pd.get_dummies(df, columns=['Sex', 'Embarked'], drop_first=True)

# Show dataset info and preview
print(df.info())
print(df.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Survived     418 non-null    int64
 2   Pclass       418 non-null    int64
 3   Name         418 non-null    object
 4   Age          418 non-null    float64
 5   SibSp        418 non-null    int64
 6   Parch        418 non-null    int64
 7   Ticket       418 non-null    object
 8   Fare         418 non-null    float64
 9   Sex_male     418 non-null    bool
 10  Embarked_Q   418 non-null    bool
 11  Embarked_S   418 non-null    bool
dtypes: bool(3), float64(2), int64(5), object(2)
memory usage: 30.7+ KB
None
   PassengerId  Survived  Pclass  \
0          892         0       3
1          893         1       3
2          894         0       2
3          895         0       3
4          896         1       3

                                           Name   Age  SibSp  Parch   Ticket  \
0                              Kelly, Mr. James  34.5      0      0   330911
1              Wilkes, Mrs. James (Ellen Needs)  47.0      1      0   363272
2                     Myles, Mr. Thomas Francis  62.0      0      0   240276
3                              Wirz, Mr. Albert  27.0      0      0   315154
4  Hirvonen, Mrs. Alexander (Helga E Lindqvist)  22.0      1      1  3101298

      Fare  Sex_male  Embarked_Q  Embarked_S
0   7.8292      True        True       False
1   7.0000     False       False        True
2   9.6875      True        True       False
3   8.6625      True       False        True
4  12.2875     False       False        True